<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"><strong>Welcome to The Quietside!</strong></h3>
      </div>
      <div class="modal-body">
        <h4><u><strong>Mission Statement</strong></u></h4>
        <h5>The Quiet Side is a black owned business that sells designer items at their retail price. Our 
        purpose is to provide our customers access to the "quiet side" of fashion-statement pieces under
        the radar. We take pride in our ability to support and promote minorities and their small 
        businesses from near and far.</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Subscribe</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>